@import "mixins/imageEffects";

.name {
	background-color: #1c2027;
	height: 80px;
	padding-top: 26px;
	padding-bottom: 26px;
	text-align: center;
}

.page-content {

	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;

	.row {
		margin-left: 0;
		margin-right: 0;
	}

	.articles {
		padding: $column-gutter 0;
		margin-bottom: 3*$column-gutter;

		h1 {
			margin-top: 0;
			margin-bottom: .15*$column-gutter;
			font-size: 2.4em;
			line-height: 1em;
			color: $secondaryColor;

			a {
				color: $secondaryColor;
			}

			.header__arrow {
				color: rgba(#1c2027, 0.3);
				font-size: .8em;
				font-weight: 200;
			}
		}

		.article__date {
			display: block;
			margin-bottom: 1.5*$column-gutter;
			text-transform: uppercase;
			color: mix($white, $txtColor, 30%);
			font-size: 0.8em;
			font-weight: 200;

			i {
				margin: 0 5px;
				display: inline-block;
				@include rotate(275deg);
			}
		}

		.subheader {
			color: $black;
			font-size: 1.3em;
			line-height: 1.7em;
			margin-bottom: 1.7em;
		}

		p {
			line-height: 1.9em;
			font-weight: 200;
			font-size: 1.1em;
			color: rgba(#1c2027, 0.7);
		}

		hr { margin-bottom: 2*$column-gutter;}

		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		ul {
			list-style-position: inside;
			li {
				margin-left:0.5*$column-gutter;
				margin-bottom: 5px;
			}
		}

		ol {
			li {
				margin-left:0.5*$column-gutter;
				margin-bottom: 5px;
			}
		}
	}

	.recent__articles {
		padding: $column-gutter 0;

		ol {
			list-style: none;
			line-height: 1.6em;
			font-size: 0.9em;
			font-weight: 200;
			li {
				padding-bottom: 4px;
			}
		}
	}

	h5 {
		color: darken($body-font-color, 10%);
		text-transform: uppercase;
		font-weight: 400;
		font-size: .9em;
		margin: 0;
	}

	hr {
		margin-top: .15*$column-gutter;
		margin-bottom: .15*$column-gutter;
	}

	.authorCredits {

		margin-bottom: .5*$column-gutter;
		margin-top: .5*$column-gutter;


		h5 {
			margin-left: 50px;
		    padding-top: .6*$column-gutter;
		}

		.profile-picture {
			@include makeImageHolderRound(40px, 2px, true);
			position: absolute;
		}

	}

	.authorCredits + hr {margin-top: 0;}

}
